<h1>Destino</h1>

<h3>Sun City</h3>
<br>
<img src="../images/siteAllianz_destino_03.a5bcfdfe.png" alt="" class="img-responsive">
<br>
<p>Prepare-se para conhecer um complexo de entretenimento que reúne tantas atrações que já virou um destino por si próprio! Construído em 1979, Sun City é um resort completo, com parque aquático, campos de golfe, cassino, vida noturna, lojas e restaurantes. A apenas três horas de distância da capital da África do Sul, Johanesburg, estaremos pertinho do Parque Pilanesberg, uma reserva com uma enorme variedade de animais africanos.</p>

<h3>Cape Town</h3>
<br>
<img src="../images/siteAllianz_destino_06.455eaf93.jpg" alt="" class="img-responsive">
<br>
<p>Nosso hotel em Cape Town é repleto de belíssimas histórias. Em novembro de 1918, por exemplo, ele foi pintado de rosa para marcar o fim da Primeira Guerra Mundial. Ele está aos pés do ponto turístico mais impressionante da cidade (a Table Mountain) e em meio a um jardim exuberante. Prepare-se para desfrutar de um mergulho em uma das piscinas ou dar uma esticadinha no bar. Diferentes restaurantes e várias atividades, incluindo uma quadra de tênis, garantirão uma estada inesquecível. </p>