<h1>Destino</h1>

<h3>Sun City</h3>
<br>
<img src="../images/siteAllianz_destino_03.a5bcfdfe.png" alt="" class="img-responsive">
<br>
<p>Prepare-se para conhecer um complexo de entretenimento que reúne tantas atrações que já virou um destino por si próprio! Construído em 1979, Sun City é um resort completo, com parque aquático, campos de golfe, cassino, vida noturna, lojas e restaurantes. A apenas três horas de distância da capital da África do Sul, Johannesburg, estaremos pertinho do Parque Pilanesberg, uma reserva com uma enorme variedade de animais africanos.</p>
<br>
<h3>Cape Town</h3>
<br>
<img src="../images/siteAllianz_destino_06.455eaf93.jpg" alt="" class="img-responsive">
<br>
<p>Ela costuma figurar anualmente nas listas das cidades mais belas do mundo e é palco de montanhas que tomam conta de sua paisagem, dois Patrimônios da Humanidade (a Ilha Robben e a Table Mountain), praias de areias brancas e reservas naturais intocadas. Esse caldeirão de culturas é composto por uma fusão de sabores malaios, holandeses, franceses, portugueses e africanos, refletida nos menus de seus restaurantes. Para acompanhar, seis rotas do vinho garantem rótulos muito especiais.</p>