<div class="row" style="position: relative;">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1>Dicas</h1>
    </div>
</div>

<div class="row dicas">
    <div class="col-xs-12 col-sm-3">
        <div class="dica">
            <img src="../images/dicas/documentacao.23d4c467.svg" class="dica-icone" alt="">
            <h2>Documentação</h2>
            <p>• Passaportes válidos no momento da entrada. <br>• 2 páginas em branco.</p>
            <hr>
            <img src="../images/dicas/injecao.06cb058e.svg" class="img-responsive center-block" style="max-width: 57px" alt="">
            <p>• Vacina de febre amarela</p>
            <img src="../images/dicas/_mais.c27f6983.svg" class="img-responsive center-block" style="max-width: 30px" alt="">
            <p>certificado internacional: obrigatórios.
                <br>
                • Antecedência mínima da vacinação:
            </p>
            <img src="../images/dicas/_10_dias_de_viagem.88d0cb4e.svg" class="img-responsive center-block"
                style="max-width: 160px" alt="">
            <br>
            <p>• Vacinação gratuita: SUS.
                <br>
                • Serviços de vacinação privados: Onde encontrar? Site da secretaria da saúde do seu estado.
                <br>
                • Agilize o processo: <a href="https://civnet.anvisa.gov.br/cadastroViajante?1">clique aqui</a>.
                <br>
                • Agendamento: portal / telefone.
                <br>
                • Endereços e telefones das unidades: <a
                    href="http://portal.anvisa.gov.br/CIVP/unidades-emissoras">clique aqui</a>.
            </p>

            <hr>

            <p><strong>Atenção</strong>:<br>
                • Passaporte > cofre do hotel. <br>
                • Tire cópias coloridas da página principal do passaporte.</p>

        </div>
        <div class="dica">
            <img src="../images/dicas/embarque.3c1b8cad.svg" class="dica-icone" alt="">
            <h2>Embarque</h2>
            <h3>NACIONAL - GUARULHOS</h3>
            <p>• Chegue duas horas antes do voo.</p>
            <br>
            <h3>INTERNACIONAL</h3>
            <p>• Chegue 3 horas antes do voo e dirija-se ao Terminal 3.</p>
            <br>
            <h3>PORTÃO DE EMBARQUE</h3>
            <p>• Siga a fila e as instruções para passar pelo raio-X. <br>
                • Esteja no portão de embarque no horário indicado pela companhia aérea. <br>
                • Lá, uma equipe da VOQIN’ irá orientá-lo(a).</p>
        </div>
        <div class="dica">
            <img src="../images/dicas/deslocamentos.20877857.svg" class="dica-icone" alt="">
            <h2>Deslocamentos</h2>
            <p>
                • São Paulo > Johannesburg: Ida 8h25 / volta 9h25 de voo
                <br>
                • Johannesburg > Cape Town: 2h10 de voo.
            </p>
        </div>
        <div class="dica">
            <img src="../images/dicas/fuso-horario.ded447ad.svg" class="dica-icone" alt="">
            <h2>Fuso Horário</h2>
            <img src="../images/dicas/_mais_cinco_horas.8b55c6aa.svg" class="img-responsive center-block" style="max-width: 67px"
                alt="">
        </div>
        <div class="dica">
            <img src="../images/dicas/medicamentos.a6e8d21d.svg" class="dica-icone" alt="">
            <h2>MEDICAMENTOS</h2>
            <p>Leve remédios junto às receitas médicas.</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="dica">
            <img src="../images/dicas/franquia-de-bagagens.21d7a227.svg" class="dica-icone" alt="">
            <h2>Franquia de Bagagens</h2>
            <h3>VOOS DOMÉSTICOS</h3>
            <img src="../images/dicas/_bagagem-despachada.d8e099dc.svg" class="img-responsive center-block" alt="">
            <hr>
            <h3>VOOS INTERNACIONAIS</h3>
            <img src="../images/dicas/_bagagem_despachada_02.b9136cdc.svg" class="img-responsive center-block" alt="">
            <p class="text-center">Limites sem valor adicional: <br>
                <span class="txt-blue">158 cm³ (80 cm x 50 cm x 28cm <br>
                    (altura x largura x espessura).</span></p>
            <hr>
            <h3>MALAS</h3>
            <img src="../images/dicas/_com-cadeado.db41faef.svg" class="img-responsive center-block" style="max-width: 326px"
                alt="">
        </div>
        <div class="dica">
            <h2>REGRAS - BAGAGEM DE MÃO <br> VOOS INTERNACIONAIS</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>LÍQUIDOS</h3>
                    <img src="../images/dicas/_liquidos.693189f2.svg" class="img-responsive"
                        style="max-width: 30px; float: left; " alt="">
                    <p style="float: right; width: calc(100% - 30px); padding-left: 15px;">
                        • Frascos: até 100 ml > embalagem transparente vedada de até 1L (20 X 20 cm). <br>
                        • Medicamentos + prescrição médica. <br>
                        • Líquidos para dietas especiais > quantidade suficiente para o voo. <br>
                        • Duty Free: líquidos de + de 100 ml > acondicionados em sacola + selo de segurança intacto,
                        aprovada pelos oficiais da TSA.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>OBJETOS CORTANTES</h3>
                    <img src="../images/dicas/_objetos-cortantes.78ea85ba.svg" class="img-responsive"
                        style="max-width: 30px; float: left; margin-right: 15px;" alt="">
                    <p style=" width: calc(100% - 30px); padding-left: 15px;">Devem ser despachados.</p>
                    <br>
                    <h3>OBJETOS DE VALOR</h3>
                    <p>Na bagagem de mão: dinheiro, joias, documentos, remédios, chaves, câmeras fotográficas,
                        celulares, filmadoras, laptops, tablets.</p>
                </div>
            </div>
        </div>
        <div class="dica">

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img src="../images/dicas/compras-no-exterior.765e0941.svg" class="dica-icone" alt="">
                    <h2>COMPRAS NO EXTERIOR</h2>
                    <p>• Isenção de impostos: US$500,00. <br>
                        • Comprar objetos iguais é considerado importação.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="../images/dicas/_free-shop.760f3d96.svg" class="img-responsive center-block"
                        style="max-width: 63px" alt="">
                    <h2>FREE SHOP DOS AEROPORTOS BRASILEIROS</h2>
                    <p>• Até US$ 500,00. <br>
                        • A cota não utilizada nas compras no exterior não pode ser usada no Free Shop.</p>
                    <img src="../images/dicas/_bebidas-alcolicas.c39c1664.svg" class="img-responsive center-block" alt="">
                </div>
            </div>

        </div>
        <div class="dica">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img src="../images/dicas/o-que-levar.c9929460.svg" class="dica-icone" alt="">
                    <h2>O QUE LEVAR</h2>
                    <p>• Trajes e calçados confortáveis + alguns trajes esporte fino. <br>
                        • Casacos leves + um casaco mais quente.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>• Importante: óculos escuros, boné ou chapéu, protetor solar, repelente e a mochila da Allianz.
                        <br>
                        • Para o jantar de confraternização:
                    </p>
                    <img src="../images/dicas/_para-eles-para-elas.3ff9b67b.svg" class="img-responsive" style=" " alt="">

                </div>
            </div>

        </div>
        <div class="dica">
            <img src="../images/dicas/outras-informacoes.c7b474a0.svg" class="dica-icone" alt="" style="padding-bottom: 68px;">
            <h2>OUTRAS INFORMAÇÕES</h2>
            <div class="row outras-informacoes">
                <div class="col-xs-12 col-sm-6">
                    <p><span class="check"></span> Use táxis oficiais e leve o endereço de seu destino.</p>
                    <p><span class="check"></span>Evite joias e grandes quantidades de dinheiro.</p>
                    <p><span class="check"></span>Cartão de crédito: tenha certeza de que você o recebeu após a compra.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p><span class="check"></span>Em locais abertos, não deixe bolsas, sacolas, máquinas fotográficas ou
                        câmeras de vídeo
                        penduradas ou no chão.</p>
                    <p><span class="check"></span>Objetos de valor e documentos > cofre do hotel.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="dica">
            <img src="../images/dicas/bagagem-de-mao.93c45ca2.svg" class="dica-icone" alt="">
            <h2>BAGAGEM DE MÃO</h2>
            <img src="../images/dicas/_ate-8kg.f05dec0d.svg" alt="" class="img-responsive center-block"
                style="max-width: 176px;">
            <p>• Dimensões máximas de</p>
            <p> 56 cm x 36 cm x 23 cm <br> (altura x largura x espessura).</p>
        </div>
        <div class="dica">
            <img src="../images/dicas/celular.1c330291.svg" class="dica-icone" alt="">
            <h2>CELULAR</h2>
            <p>Pergunte à sua operadora sobre o ROAMING INTERNACIONAL, se desejar habilitar seu celular.</p>
        </div>
        <div class="dica">
            <img src="../images/dicas/clima.3a27d5f5.svg" class="dica-icone" alt="">
            <h2>CLIMA</h2>
            <p>Temperatura entre:</p>
            <img src="../images/dicas/_clima.b0cb25e3.svg" class="img-responsive center-block" alt="">
        </div>
        <div class="dica">
            <img src="../images/dicas/tensao.1438a79d.svg" class="dica-icone" alt="">
            <h2>TENSÃO</h2>
            <p>• Voltagem: 220V <br>
                • Tomada: padrão tipo D, leve adaptador universal. </p>
            <img src="../images/dicas/tomada.ffa91d39.svg" class="img-responsive center-block" style="max-width: 63px" alt="">
        </div>

        <div class="dica">
            <img src="../images/dicas/moeda.4b5ec414.svg" class="dica-icone" alt="">
            <h2>MOEDA</h2>
            <p>• Oficial: Rand (R). <br>
                • Leve Dólares ou Euros > câmbio no hotel, nas casas de câmbio ou bancos. <br>
                • Câmbio aproximado: R 1 = R$ 0,27 <br>
                • Valor máximo para entrada: 10.000 dólares.</p>
        </div>
        <div class="dica">
            <img src="../images/dicas/despesas.f9c8f995.svg" class="dica-icone" alt="">
            <h2>DESPESAS EXTRAS</h2>
            <p>Pagas pelo participante: lavanderia, frigobar, ligações telefônicas, serviço de quarto, etc.</p>
        </div>
    </div>
</div>