<h1>Hotel</h1>

<h3>THE PALACE OF THE LOST CITY, SUN CITY</h3>
<br>

<ul data-carrossel="true" carrossel="true" class="carrossel">
    <li data-thumb="../images/hotel/01/01.jpg">
        <img class="img-responsive" src="../images/hotel/01/01.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/01/02.jpg">
        <img class="img-responsive" src="../images/hotel/01/02.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/01/03.jpg">
        <img class="img-responsive" src="../images/hotel/01/03.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/01/04.jpg">
        <img class="img-responsive" src="../images/hotel/01/04.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/01/05.jpg">
        <img class="img-responsive" src="../images/hotel/01/05.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/01/06.jpg">
        <img class="img-responsive" src="../images/hotel/01/06.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/01/07.jpg">
        <img class="img-responsive" src="../images/hotel/01/07.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/01/08.jpg">
        <img class="img-responsive" src="../images/hotel/01/08.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/01/09.jpg">
        <img class="img-responsive" src="../images/hotel/01/09.jpg" alt="" />
    </li>
</ul>
<p>Nosso primeiro hotel fica dentro do Sun City Resort, ao lado do Parque Nacional de Pilanesberg. Lá, estarão à sua
    disposição uma piscina exclusiva ao ar livre, um campo de golfe, uma variedade de restaurantes especializados na
    cozinha local e internacional, quadra de tênis, cassino e até uma praia artificial! Tudo para uma estada nada menos
    do que perfeita.</p>

<h3>Belmond Mount Nelson, Cape Town</h3>
<br>
<ul data-carrossel="true" carrossel="true" class="carrossel">
    <li data-thumb="../images/hotel/02/01.jpg">
        <img class="img-responsive" src="../images/hotel/02/01.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/02.jpg">
        <img class="img-responsive" src="../images/hotel/02/02.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/03.jpg">
        <img class="img-responsive" src="../images/hotel/02/03.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/04.jpg">
        <img class="img-responsive" src="../images/hotel/02/04.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/05.jpg">
        <img class="img-responsive" src="../images/hotel/02/05.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/06.jpg">
        <img class="img-responsive" src="../images/hotel/02/06.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/07.jpg">
        <img class="img-responsive" src="../images/hotel/02/07.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/08.jpg">
        <img class="img-responsive" src="../images/hotel/02/08.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/09.jpg">
        <img class="img-responsive" src="../images/hotel/02/09.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/10.jpg">
        <img class="img-responsive" src="../images/hotel/02/10.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/11.jpg">
        <img class="img-responsive" src="../images/hotel/02/11.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel/02/12.jpg">
        <img class="img-responsive" src="../images/hotel/02/12.jpg" alt="" />
    </li>
</ul>
<p>Nosso hotel em Cape Town é repleto de belíssimas histórias. Em novembro de 1918, por exemplo, ele foi pintado de rosa
    para marcar o fim da Primeira Guerra Mundial. Ele está aos pés do ponto turístico mais impressionante da cidade (a
    Table Mountain) e em meio a um jardim exuberante. Prepare-se para desfrutar de um mergulho em uma das piscinas ou
    dar uma esticadinha no bar. Diferentes restaurantes e várias atividades, incluindo uma quadra de tênis, garantirão
    uma estada inesquecível. </p>