<h1>Hotel</h1>

<h3>THE PALACE OF THE LOST CITY, SUN CITY</h3>
<br>

<ul data-carrossel="true" carrossel="true" class="carrossel">
    <li data-thumb="../images/hotel01/01.bc07470f.jpg">
        <img class="img-responsive" src="../images/hotel01/01.bc07470f.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel01/02.3b016f0a.jpg">
        <img class="img-responsive" src="../images/hotel01/02.3b016f0a.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel01/03.67661d30.jpg">
        <img class="img-responsive" src="../images/hotel01/03.67661d30.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel01/04.4ee7ba9a.jpg">
        <img class="img-responsive" src="../images/hotel01/04.4ee7ba9a.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel01/05.89895f60.jpg">
        <img class="img-responsive" src="../images/hotel01/05.89895f60.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel01/06.9723b8d4.jpg">
        <img class="img-responsive" src="../images/hotel01/06.9723b8d4.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel01/07.306893a1.jpg">
        <img class="img-responsive" src="../images/hotel01/07.306893a1.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel01/08.20b31132.jpg">
        <img class="img-responsive" src="../images/hotel01/08.20b31132.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel01/09.5ce08376.jpg">
        <img class="img-responsive" src="../images/hotel01/09.5ce08376.jpg" alt="" />
    </li>
</ul>
<p>Nosso primeiro hotel fica dentro do Sun City Resort, ao lado do Parque Nacional de Pilanesberg. Lá, estarão à sua disposição uma piscina exclusiva ao ar livre, cinemas, teatro, balada, lojas, uma variedade de restaurantes especializados na cozinha local e internacional, quadra de tênis e até uma praia artificial. Tudo para você relaxar e se divertir!</p>
<br>
<h3>Belmond Mount Nelson, Cape Town</h3>
<br>
<ul data-carrossel="true" carrossel="true" class="carrossel">
    <li data-thumb="../images/hotel02/01.d8e5c8fd.jpg">
        <img class="img-responsive" src="../images/hotel02/01.d8e5c8fd.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/02.8256fb11.jpg">
        <img class="img-responsive" src="../images/hotel02/02.8256fb11.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/03.dfcaf3a2.jpg">
        <img class="img-responsive" src="../images/hotel02/03.dfcaf3a2.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/04.bf44e97b.jpg">
        <img class="img-responsive" src="../images/hotel02/04.bf44e97b.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/05.3627ade9.jpg">
        <img class="img-responsive" src="../images/hotel02/05.3627ade9.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/06.30365b94.jpg">
        <img class="img-responsive" src="../images/hotel02/06.30365b94.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/07.befa780e.jpg">
        <img class="img-responsive" src="../images/hotel02/07.befa780e.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/08.382c427e.jpg">
        <img class="img-responsive" src="../images/hotel02/08.382c427e.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/09.d650f0ab.jpg">
        <img class="img-responsive" src="../images/hotel02/09.d650f0ab.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/10.82152178.jpg">
        <img class="img-responsive" src="../images/hotel02/10.82152178.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/11.c5cd10c8.jpg">
        <img class="img-responsive" src="../images/hotel02/11.c5cd10c8.jpg" alt="" />
    </li>
    <li data-thumb="../images/hotel02/12.64b169c6.jpg">
        <img class="img-responsive" src="../images/hotel02/12.64b169c6.jpg" alt="" />
    </li>
</ul>
<p>Nosso hotel em Cape Town é repleto de belíssimas histórias. Em novembro de 1918, por exemplo, ele foi pintado de rosa para marcar o fim da Primeira Guerra Mundial. Por lá passaram o Príncipe de Gales, Nelson Mandela, John Lennon e Winston Churchil! Ele está aos pés do ponto turístico mais impressionante da cidade (a Table Mountain) e em meio a um jardim exuberante. Prepare-se para desfrutar de um mergulho em uma das piscinas ou dar uma esticadinha no bar. Diferentes restaurantes e várias atividades, incluindo uma quadra de tênis, garantirão uma estadia inesquecível. </p>