<h1 translate="Perfil"></h1>

<p>{{titular.Nome}},
    <span>seja bem-vindo(a)! Você faz parte do <strong>{{grupo.nome}}</strong>, guarde esta informação, pois ela será importante no decorrer do processo.</span>
</p>

<p>Para que possamos organizar sua viagem da melhor forma, pedimos que preencha esse formulário até o dia {{grupo.deadlineInscricao}}. Contamos com a sua ajuda!</p>

<p>Lembrando que os campos marcados com * são de preenchimento obrigatório.</p>

<form name="userForm" ng-submit="submitForm(userForm.$valid)">
    <fieldset ng-repeat="atribuido in formulario.lists['Campos definidos'] | groupBy:'atribuicao'" ng-disabled="disableFields()">

        <h3>
            {{atribuido[0].atribuicao | translate}}
            <div class="togglebutton" ng-if="atribuido[0].atribuicao === 'Acompanhante'">
                <label>
                    <span translate>Irá levar acompanhante</span>?
                    <input type="checkbox" checked="" ng-model="titular.Wave" ng-false-value="0" ng-true-value="1">
                </label>
            </div>
        </h3>

        <div class="form-group" ng-repeat="campo in atribuido" ng-if="(atribuido[0].atribuicao === 'Titular') || (titular.Wave === 0 && atribuido[0].atribuicao !== 'Acompanhante') || (titular.Wave === 1 && atribuido[0].atribuicao === 'Acompanhante')">

            <!-- label padrao para todos os campos -->

            <label for="{{atribuido[0].atribuicao + campo.key}}">
                <span>{{checkLabel(campo.label, campo.customLabel)}}</span>
                <span ng-show="campo.obrigatorio">*</span>
                <br>
                <small> <em>{{campo.customPlaceholder | iif : campo.customPlaceholder : campo.placeholder}}</em></small>
            </label>

            <!-- campos de texto / tel -->

            <input ng-if="(campo.type === 'text' && campo.colmaSeparatedOptions === null ) || (campo.type === 'tel') || (campo.type === 'number')"
                type="{{campo.type}}" id="{{atribuido[0].atribuicao + campo.key}}" name="{{atribuido[0].atribuicao + campo.key}}"
                class="form-control" maxlength="{{campo.tamanhoMaximo}}" minlength="{{campo.tamanhoMinimo}}"
                placeholder="" ui-mask="{{campo.mascara}}" ng-required="campo.obrigatorio" ng-model="campo.value">

            <!-- email (lowercase) -->

            <input ng-if="(campo.type === 'email')"
            type="{{campo.type}}" id="{{atribuido[0].atribuicao + campo.key}}" name="{{atribuido[0].atribuicao + campo.key}}"
            class="form-control" maxlength="{{campo.tamanhoMaximo}}" minlength="{{campo.tamanhoMinimo}}"
            placeholder="" ui-mask="{{campo.mascara}}" ng-required="campo.obrigatorio" ng-model="campo.value" ng-change="campo.value=campo.value.toLowerCase();">
            
            <!-- campos de select -->

            <select ng-if="(campo.type === 'select') || (campo.type === 'text' && campo.colmaSeparatedOptions !== null)"
                class="form-control" name="{{atribuido[0].atribuicao + campo.key}}" id="{{atribuido[0].atribuicao + campo.key}}"
                ng-model="campo.value" ng-options="option.value as option.name for option in campo.options" ng-required="campo.obrigatorio">
            </select>

            <!-- campos de radio -->
            <!-- campos de radio inline -->

            <div class="radio" ng-if="(campo.type === 'radio') || (campo.type === 'radio-inline') " ng-repeat="option in campo.options">
                <label>
                    <input type="radio" id="{{atribuido[0].atribuicao + campo.key}}" name="{{atribuido[0].atribuicao + campo.key}}"
                        ng-model="campo.value" ng-value="option.value" ng-required="campo.obrigatorio"> {{option.name}}</label>
            </div>

            <!-- campos de booleano -->

            <div class="radio" ng-if="(campo.type === 'boolean')">
                <label>
                    <input type="radio" id="{{atribuido[0].atribuicao + campo.key}}" name="{{atribuido[0].atribuicao + campo.key}}"
                        ng-model="campo.value" ng-value="false" ng-required="campo.obrigatorio"> {{'Não' | translate}}
                </label>
            </div>

            <div class="radio" ng-if="(campo.type === 'boolean')">
                <label>
                    <input type="radio" id="{{atribuido[0].atribuicao + campo.key}}" name="{{atribuido[0].atribuicao + campo.key}}"
                        ng-model="campo.value" ng-value="true" ng-required="campo.obrigatorio"> {{'Sim' | translate}}
                </label>
            </div>

            <!-- campo de data em uma string -->

            <input ng-if="(campo.type === 'date-string')" type="text" name="{{atribuido[0].atribuicao + campo.key}}" id="{{atribuido[0].atribuicao + campo.key}}"
                ui-mask-placeholder="{{campo.customPlaceholder | iif : campo.customPlaceholder : campo.placeholder}}"
                class="form-control" ng-model="campo.value" ui-mask='99/99/9999' ng-required="campo.obrigatorio"
                model-view-value="true">

            <span class="material-icons form-control-feedback" ng-if="userForm[atribuido[0].atribuicao + campo.key].$invalid">clear</span>

        </div>
    </fieldset>
    <div ng-if="userForm.$error.required || userForm.$error.mask" class="alert alert-danger">
        <div class="alert-icon">
            <i class="material-icons">error_outline</i>
        </div>
        Para prosseguir preencha o(s) campo(s) 
        <ul>
            <li ng-repeat="erros in userForm track by erros.$name" ng-if="erros.$error | objLength"><span translate="{{erros.$name | inputErrorLabel}}"></span></li>
        </ul>
        <br>
        Campos com erro se encontram marcados com um X
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="submitting || userForm.$invalid" ng-show="canSubmit()"><span
            translate>Enviar</span></button>
</form>

<br>